<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:label=""
        android:icon="@mipmap/splash"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kronometre.NoActionBar"
        android:exported="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"


            android:theme="@style/Theme.Kronometre.NoActionBar"
            >

        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2013051048838339~7696349859"/>
        <!-- Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.App.Launcher"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebpagesActivities"
            android:exported="false"
            android:theme="@style/WebPageTheme"
            android:parentActivityName="com.lszlp.choronometre.MainActivity" />
        <!-- AndroidManifest.xml'e bu aktiviteyi ekleyin -->
        <activity
            android:name=".TestNotificationActivity"
            android:exported="false"
            android:theme="@style/Theme.Kronometre.NoActionBar" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lszlp.choronometre.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path"/>
        </provider>

        <!-- Foreground service type ekleyin -->
        <service
            android:name=".ChronometerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <receiver
            android:name="com.lszlp.choronometre.ChronometerWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/chronometer_widget_info" />
        </receiver>
    </application>
</manifest>